blockquote{
  border: 1px solid var(--color-secondary);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 10px solid var(--color-secondary);
}

/*table style*/
table {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
}

table thead th {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: var(--color-secondary);
  border-top: 2px solid var(--color-secondary);
  border-bottom: 2px solid var(--color-secondary);
}

table tbody th {
  padding: 10px 15px;
  font-weight: bold;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #f3f6f7;
}

table td {
  padding: 10px 15px;
  vertical-align: middle;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
/*table style END*/