.mgl30{
  margin-left: 30px;
}

.textCenter {
  text-align: center;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.introductionText{
  margin-top: 20px;
  font-weight: bold;
  font-size: large;
}